# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# LTspice / Simulation outputs
*.raw
*.log
*.fft
*.op.raw

# Backup files
*.bak

# Large Documentation Files
*.docx

# Project Folders to Ignore (Wiped Circuits from here)
VLSI_PROJECT/
